<div class="container">
    <div class="input-prepend input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-search"></i></span>
        </div>
        <select (change)="selectFilterOption($event.target.value)" name="" id="" class="input-group-prepend">
            <option value="logno">Logno</option>
            <option value="title">Title</option>
            <option value="begin">Begin</option>
            <option value="end">End</option>
            <option value="all">All</option>
        </select>
        <input [(ngModel)]="searchValue" id="prependedInput" class="form-control" size="16" type="text"
            placeholder="What do you want to filter">
        <span class="input-group-append">
            <button (click)="search()" class="btn btn-info" type="button">Search</button>
        </span>
        <mat-spinner style="margin-left: 15px; position: relative; top:5px; color:#333333" [diameter]="30"
            *ngIf="isSearching">
        </mat-spinner>

    </div>
    <br>
    <br>

    <!-- <div class="col-lg-6"> -->
    <!-- <div class="col-lg-8"> -->
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> View Food Section Event
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>event</th>
                        <th>blockno</th>
                        <th>logno</th>
                        <th>title</th>
                        <th>begin</th>
                        <th>end</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let event of foodSectionEventsShowed">
                        <td>{{event.event | limitTo:10}}</td>
                        <td>{{event.blockNumber | limitTo:10}}</td>
                        <td>{{event.logno | limitTo: 10}}</td>
                        <td>{{event.title | limitTo: 10}}</td>
                        <td>{{event.begin | limitTo: 10}}</td>
                        <td>{{event.end | limitTo: 10}}</td>
                    </tr>
                    <!-- <tr>
                            <td>Samppa Nori</td>
                            <td>2012/01/01</td>
                            <td>Member</td>
                            <td>
                                <span class="badge badge-success">Active</span>
                            </td>
                        </tr> -->
                </tbody>
            </table>
            <ul id="foodSectionTabLink" class="pagination">
                <li class="page-item" *ngFor="let tab of tabs" (click)="changePage($event,tab)">
                    <a class="page-link" >{{tab}}</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- </div> -->
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">
                Send Food Section Transaction
            </div>
            <div class="card-body">
                <form action="" method="post">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">logno</span>
                            </div>
                            <input [(ngModel)]="logno" type="text" id="username3" name="username3" class="form-control">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">title</span>
                            </div>
                            <input [(ngModel)]="title" type="email" id="email3" name="email3" class="form-control" autocomplete="email">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">begin</span>
                            </div>
                            <input [(ngModel)]="begin" type="text" id="password3" name="password3" class="form-control"
                                autocomplete="current-password">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-asterisk"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">end</span>
                            </div>
                            <input [(ngModel)]="end" type="text" id="password3" name="password3" class="form-control"
                                autocomplete="current-password">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-asterisk"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-actions">
                        <button (click)="submitData()" type="submit" class="btn btn-sm btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>